<h1>Show page for - <%=@article.title%></h1>
 
<p>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path(@article)%><br>
<%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %><br>

<%= link_to 'Back', articles_path %>